<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garby</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>

    <style>
        *::-webkit-scrollbar {
            display: none;
        }

        body {
            width: 100vw;
            height: 100vh;
            display: flex;
            /* align-items: center; */
            justify-content: center;
            background: #222222;
        }
    </style>

    <div class="relative my-auto flex flex-col gap-6 overflow-y-scroll rounded-lg bg-white p-5 antialiased"
        style="width:264px;height:560px">
        <div class="flex items-center justify-between">
            <img class="h-10"
                src="https://cdn.discordapp.com/attachments/765973145852575746/970326821344264232/unknown.png" alt="" />
            <div class="flex items-center gap-2">
                <div class="flex flex-col gap-1">
                    <p class="text-right text-xs font-semibold leading-none text-black">John Tyrion</p>
                    <p class="text-right text-xs leading-3 text-gray-600">275pts</p>
                </div>
                <img class="h-10"
                    src="https://cdn.discordapp.com/attachments/765973145852575746/970329588808941568/unknown.png"
                    alt="" />
            </div>
        </div>
        <img class="rounded-lg"
            src="https://cdn.discordapp.com/attachments/765973145852575746/970311203610050641/unknown.png" alt="" />
        <div class="flex flex-col gap-2">
            <p class="text-xs font-bold uppercase tracking-widest text-gray-800">Tips and INFO</p>
            <img class="cursor-pointer"
                src="https://cdn.discordapp.com/attachments/765973145852575746/970312785630224464/unknown.png" alt="" />
        </div>
        <div class="flex flex-col">
            <p class="text-xs font-bold uppercase tracking-widest text-gray-800">Redeem your points</p>
            <img class="transform cursor-pointer transition duration-200 ease-in-out hover:scale-110"
                src="https://cdn.discordapp.com/attachments/765973145852575746/970314620118110278/unknown.png" alt="" />
            <img class="transform cursor-pointer transition duration-200 ease-in-out hover:scale-110"
                src="https://cdn.discordapp.com/attachments/765973145852575746/970314632378069032/unknown.png" alt="" />
            <img class="transform cursor-pointer transition duration-200 ease-in-out hover:scale-110"
                src="https://cdn.discordapp.com/attachments/765973145852575746/970314649876709486/unknown.png" alt="" />
        </div>
    </div>


</body>

</html>